<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">
        <b>MFast</b> | Acesso
  </div>
  <div class="col-xs-12 col-sm-offset-4 col-sm-4 login-box-body">
  <p class="login-box-msg">Por favor, efetue o login para continuar</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

    <div class="form-group has-feedback">
      <app-input-container errorMessage="Informe com seu E-mail." label="E-mail">
          <input type="text" class="form-control" formControlName="email" placeholder="E-Mail" autocomplete="off" >
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </app-input-container>
    </div>


    <div class="form-group has-feedback">
      <app-input-container errorMessage="Informe a sua password" label="Password">
        <input type="password" class="form-control" formControlName="password" placeholder="Password" autocomplete="off" >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input-container>
    </div> 
      
    <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
          <button class="btn btn-primary btn-block btn-flat" [disabled]=loginForm.invalid>Acessar</button>
        </div>
    </div>

  </form>
  <a href="#">Esqueci a minha senha</a>
  <p>Ainda não tem uma conta ? <a [routerLink]="['/registro']" class="text-right" style="cursor:pointer;"> Cadastre-se </a> </p>
  </div>
</section>

